.confirm {
  width: 100%;
}

.confirm-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  width: 100%;
  padding: 20px 60px;
  margin-bottom: 80px;
}

.confirm-container > h2 {
  color: var(--color-best-text);
  font-family: "AraJozoor-Regular";
  font-size: 28px;
  font-weight: 500;
}

.confirm-two-div {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.confirm-two-div__right {
  background-color: #f5f5f5;
  width: 50%;
  padding: 25px 33px;
  border-radius: 15px;
}
.confirm-two-div__right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  font-size: 20px;
  margin-bottom: 15px;
}
.confirm-two-div__right__top a {
  color: #d40202;
  font-weight: 600;
  font-size: 15px;
}

.confirm-two-div__right__bottom > div {
  display: flex;
  align-items: center;
  color: #5d5d5d;
  margin-bottom: 15px;
}
.confirm-two-div__right__bottom span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-green);
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 18px;
  margin-left: 8px;
}

.confirm-two-div__left {
  background-color: #f5f5f5;
  width: 50%;
  padding: 25px 33px;
  border-radius: 15px;
}
.confirm-two-div__left__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.confirm-two-div__left__top h4 {
  font-size: 22px;
  color: #444444;
}
.confirm-two-div__left__agree {
  display: flex;
  align-items: center;
  color: #5d5d5d;
  margin-top: 25px;
}
.confirm-two-div__left__agree input {
  margin-left: 5px;
}
.confirm-two-div__left__agree a {
  /* margin-left: 5px; */
  color: var(--color-green);
}
.visa-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.visa-card img {
  border: 1px solid #9cefc9;
  height: 40px;
  object-fit: cover;
  padding: 0 12px;
}
.confirm-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

@media screen and (max-width: 800px) {
  .confirm-container {
    padding: 10px 20px;
    margin-bottom: 50px;
  }
  .confirm-two-div {
    padding: 0 0px;
    flex-direction: column;
    gap: 30px;
  }
  .confirm-two-div__right {
    width: 100%;
  }
  .confirm-two-div__left {
    width: 100%;
  }
  .visa-card img {
    padding: 0 9px;
  }
}
