.footer {
  width: 100%;
  background-color: var(--color-footer);
}
.footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  width: 100%;
  padding: 60px 60px 20px 60px;
  color: var(--color-white);
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top h4 {
  /* list-style: none; */
  margin-bottom: 12px;
}
.footer-top ul li {
  list-style: none;
}
.footer-top ul li a {
  text-decoration: none;
  color: var(--color-white);
}
.footer-icons {
  display: flex;
  flex-direction: column;
}
.footer-icons a {
  padding: 10px;
  background: #fff;
  color: #05894d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 22px;
  box-shadow: 0px 0px 9px #3aef9b57;
}
.footer-copyright {
  display: flex;
  justify-content: center;
}
.footer-copyright span {
  display: flex;
  align-items: center;
}
hr {
  margin: 25px 0;
  width: 90%;
}
/* ================ */
@media screen and (max-width: 776px) {
  .footer-container {
    padding: 30px 10px 20px 10px;
  }
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: start;
  }
  .footer-top-div {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
